PORT="YOUR_CREDENTIALS"
NODE_ENV="YOUR_CREDENTIALS"
ELASTICSEARCH_NODE="YOUR_CREDENTIALS"
ELASTICSEARCH_INDEX="YOUR_CREDENTIALS"
ELASTICSEARCH_USERNAME="YOUR_CREDENTIALS"
ELASTICSEARCH_PASSWORD="YOUR_CREDENTIALS"
LOG_LEVEL="YOUR_CREDENTIALS"
DATABASE_URL="YOUR_CREDENTIALS"
JWT_SECRET="YOUR_CREDENTIALS"
